<div class="card">
    <div class="card-header pb-0 bg-lumiere">
        <div class="d-flex align-items-center">
            <h5 class="mb-1 text-white">Empleados</h5>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row" *ngIf="seleccion === undefined">
                <div class="col-sm-12">
                    <button class="btn btn-success" (click)="modal('nuevo')">Agregar Empleado</button>
                    <button class="btn btn-warning ms-2" (click)="irAVacaciones()"><i class="fas fa-umbrella-beach me-1"></i> Control de Vacaciones</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <app-datatable [configuracion]="configuracion" [datos]="datos" (emitidor)="seleccion = $event;"></app-datatable>
                </div>
            </div>
        </div>
    </div>
</div>
<app-cargando *ngIf="cargando"></app-cargando>
<app-botones *ngIf="seleccion !== undefined">
    <button class="btn btn-success" (click)="modal('nuevo');">Agregar Empleado</button>
    <button class="btn btn-yellow" (click)="modal('modificar');">Modificar Empleado</button>
    <button class="btn btn-primary" (click)="modal('usuario')"><i class="fa fa-user-lock me-1"></i> Usuario / Accesos</button>
    <button class="btn btn-secondary" (click)="irAVacaciones()">Vacaciones</button>
    <button class="btn btn-danger" *ngIf="!seleccion.activo" (click)="activar();">Activar Empleado</button>
    <button class="btn btn-success" *ngIf="seleccion.activo" (click)="desactivar();">Desactivar Empleado</button>
    <button class="btn btn-danger" (click)="eliminar();">Eliminar Empleado</button>
    <button class="btn btn-info" (click)="modal('sucursales')">Sucursales</button>
</app-botones>
<app-modal [ngSwitch]="vista">
    <app-modal-empleado *ngSwitchCase="'nuevo'" [listas]="listas" (emitidor)="nuevo($event);"></app-modal-empleado>
    <app-modal-sucursales-empleado *ngSwitchCase="'sucursales'" [usuario]="seleccion"></app-modal-sucursales-empleado>
    <app-modal-usuario-empleado *ngSwitchCase="'usuario'" [empleado]="seleccion"></app-modal-usuario-empleado>
</app-modal>