<div class="modal-header bg-{{(modificar) ? 'yellow' : 'success'}}">
    <h4 class="text-white">{{(modificar) ? 'Modificar' : 'Agregar'}} Nomina</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <div class="container">
        <app-nomina-empleado [listas]="listas" [dato]="dato.empleado" (emitidor)="dato.empleado = $event; accion = 2;" *ngIf="accion === 1"></app-nomina-empleado>
        <app-nomina-desgolce [dato]="dato.desgloce" [percepciones]="listas.conceptospercepciones" [deducciones]="listas.conceptosdeducciones" [nominas]="listas.nominas" [idEmpleado]="dato.empleado.idEmpleado" [idDepartamento]="dato.empleado.idDepartamento" *ngIf="accion === 2" (emitidor)="dato.desgloce = $event; emitir();"
            (atras)="accion = 1;"></app-nomina-desgolce>
    </div>
</div>