<div class="col-xl-12 order-xl-1">
    <div class="card bg-secondary shadow">
        <div class="card-header bg-info border-0">
            <div class="row align-items-center">
                <div class="col-4">
                    <h3 class="mb-0 text-white">Calificador</h3>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-info" title="Recargar" (click)="mostrar();"><i class="fas fa-redo-alt"></i></button>
                </div>
                <div class="col-sm-4">
                    <app-checktimes [activo]="verBuscar" (emitidor)="verBuscar = $event;"></app-checktimes>
                </div>
            </div>
        </div>
        <div class="card-body bg-white">
            <div class="row" *ngIf="datos && datos.length > 0">
                <div class="col-sm-4" *ngFor="let item of datos">
                    <app-mostrar-grupos [grupo]="item" (emitidor)="calificar($event)"></app-mostrar-grupos>
                </div>
            </div>
            <div class="row" *ngIf="datos && datos.length === 0">
                <div class="col-12 text-center text-muted my-4">
                    <h4>No se encontraron grupos con alumnos para los criterios seleccionados.</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<app-busquedas *ngIf="verBuscar" (emitidor)="verBuscar = $event;">
    <div class="col-sm-12">
        <app-select [datos]="listas?.actuales" [etiqueta]="'Calendarios'" [dato]="busqueda.idCalendario" (emitidor)="busqueda.idCalendario = $event;"></app-select>
    </div>
    <div class="col-sm-12">
        <app-select [datos]="listas?.niveles" [etiqueta]="'Niveles'" [dato]="busqueda.idNivel" (emitidor)="busqueda.idNivel = $event;"></app-select>
    </div>
    <div class="col-sm-12">
        <app-select [datos]="listas?.subniveles" [etiqueta]="'Subniveles'" [dato]="busqueda.idSubnivel" (emitidor)="busqueda.idSubnivel = $event;"></app-select>
    </div>
    <div class="col-sm-12">
        <app-select [datos]="listas?.modalidades" [etiqueta]="'Modalidad'" [dato]="busqueda.idModalidad" (emitidor)="busqueda.idModalidad = $event;"></app-select>
    </div>
    <div class="col-sm-12">
        <app-select [datos]="listas?.cursos" [etiqueta]="'Cursos'" [dato]="busqueda.idCurso" (emitidor)="busqueda.idCurso = $event;"></app-select>
    </div>
    <div class="col-sm-12">
        <app-select [datos]="listas?.categorias" [etiqueta]="'Categorias'" [dato]="busqueda.idCategoria" (emitidor)="busqueda.idCategoria = $event;"></app-select>
    </div>
    <div class="col-sm-12">
        <app-select [datos]="listas?.turnos" [etiqueta]="'Turno'" [dato]="busqueda.idTurno" (emitidor)="busqueda.idTurno = $event; traerHorarios();"></app-select>
    </div>
    <div class="col-sm-12">
        <app-select [datos]="listaHorarios" [etiqueta]="'Horario'" [dato]="busqueda.idHorario" (emitidor)="busqueda.idHorario = $event;"></app-select>
    </div>
    <div class="col-sm-12">
        <button class="btn btn-success" (click)="buscar()">Buscar</button>
    </div>
</app-busquedas>
<app-modal-generico [ngSwitch]="vista">
</app-modal-generico>
<app-cargando *ngIf="cargando"></app-cargando>