<div class="col-xl-12 order-xl-1">
    <div class="card bg-secondary shadow">
        <div class="card-header bg-info border-0">
            <div class="row align-items-center">
                <div class="col-md-5 col-sm-12 mb-2 mb-md-0 d-flex align-items-center">
                    <button class="btn btn-neutral btn-sm me-3 mr-3" title="Regresar al calificador" (click)="regresar()">
                        <i class="fas fa-arrow-left"></i> Regresar
                    </button>
                    <h3 class="mb-0 text-white d-inline">Calificar Grupo</h3>
                </div>
                <div class="col-md-3 col-sm-6 mb-2 mb-md-0">
                    <button class="btn btn-primary" title="Boleta de Grupo" (click)="boletaGrupo()"><i class="fas fa-file-pdf"></i> Boleta Grupo</button>
                </div>
                <div class="col-md-4 col-sm-6 text-end" *ngIf="seleccion !== undefined">
                    <button class="btn btn-success me-2 mr-2" title="Calificar" (click)="calificar()"><i class="fas fa-file-signature"></i> Calificar</button>
                    <button class="btn btn-danger" title="Boleta de Alumno" (click)="boletaAlumno()"><i class="fas fa-file-pdf"></i> Boleta Alumno</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <app-datatable (emitidor)="seleccion = $event;" [datos]="alumnos" [configuracion]="configuracion"></app-datatable>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal [ngSwitch]="vista">
    <app-modal-calificar-alumno [ficha]="seleccion" *ngSwitchCase="'calificar'"></app-modal-calificar-alumno>
</app-modal>