<div class="modal-header bg-info">
    <h4 class="text-white">Datos de aspiracion</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <app-select [etiqueta]="'Universidad'" [datos]="listas.universidades" [dato]="dato.idUniversidad" (emitidor)="dato.idUniversidad = $event; traerCentros();"></app-select>
            </div>
            <div class="col-sm-4">
                <app-select [etiqueta]="'Centro universitario'" [datos]="centros" [dato]="dato.idCentroUniversitario" (emitidor)="dato.idCentroUniversitario = $event; traerCarreras();"></app-select>
            </div>
            <div class="col-sm-4">
                <app-select [etiqueta]="'Carrera'" [datos]="carreras" [dato]="dato.idCarrera" (emitidor)="dato.idCarrera = $event;"></app-select>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-sm-12 d-md-flex justify-content-md-end">
                <button class="btn btn-success" (click)="emitir()">Guardar</button>
            </div>
        </div>
    </div>
</div>