<div class="card">
    <div class="card-header pb-0 bg-lumiere">
        <div class="d-flex align-items-center">
            <h5 class="mb-1 text-white">Alumno</h5>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <app-input [etiqueta]="'Nombre'" [valor]="datos.nombre" [mayusculas]="true" (emitidor)="datos.nombre = $event;"></app-input>
                </div>
                <div class="col-sm-3">
                    <app-input [etiqueta]="'Apellido Paterno'" [valor]="datos.apellidoPaterno" [mayusculas]="true" (emitidor)="datos.apellidoPaterno = $event;"></app-input>
                </div>
                <div class="col-sm-3">
                    <app-input [etiqueta]="'Apellido Materno'" [valor]="datos.apellidoMaterno" [mayusculas]="true" (emitidor)="datos.apellidoMaterno = $event;"></app-input>
                </div>
                <div class="col-sm-3">
                    <app-input [etiqueta]="'Código'" [valor]="datos.codigo" [mayusculas]="true" (emitidor)="datos.codigo = $event;"></app-input>
                </div>
                <div class="col-sm-3">
                    <app-input [etiqueta]="'Fecha de Nacimiento'" [valor]="datos.fechaNacimiento" [mayusculas]="true" (emitidor)="datos.fechaNacimiento = $event;"></app-input>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <button class="btn btn-primary" (click)="modificar()"><i class="fa fa-save mr-1"></i> Guardar Nombre</button>
                </div>
            </div>

            <!-- Sección de Datos Escolares -->
            <h5 class="mt-4 mb-3 border-bottom pb-2 text-dark font-weight-bold">Datos Escolares</h5>
            <div class="row">
                <div class="col-sm-4 mb-3">
                    <label class="font-weight-bold text-muted font-12 mb-1">Subnivel</label>
                    <select class="form-control" [(ngModel)]="escolares.idSubnivel">
                        <option [value]="0">Selecciona Subnivel</option>
                        <option *ngFor="let item of listas.subniveles" [value]="item.id">{{ item.nombre }}</option>
                    </select>
                </div>
                <div class="col-sm-4 mb-3">
                    <label class="font-weight-bold text-muted font-12 mb-1">Tipo de Escuela</label>
                    <select class="form-control" [(ngModel)]="escolares.idTipoEscuela">
                        <option [value]="0">Selecciona Tipo de Escuela</option>
                        <option *ngFor="let item of listas.tipos" [value]="item.id">{{ item.nombre }}</option>
                    </select>
                </div>
                <div class="col-sm-4 mb-3">
                    <label class="font-weight-bold text-muted font-12 mb-1">Escuela</label>
                    <select class="form-control" [(ngModel)]="escolares.idEscuela">
                        <option [value]="0">Selecciona Escuela</option>
                        <option *ngFor="let item of listas.escuelas" [value]="item.id">{{ item.nombre }}</option>
                    </select>
                </div>
                <div class="col-sm-4 mb-3">
                    <label class="font-weight-bold text-muted font-12 mb-1">Estado</label>
                    <select class="form-control" [(ngModel)]="escolares.idEstado">
                        <option [value]="0">Selecciona Estado</option>
                        <option *ngFor="let item of listas.estados" [value]="item.id">{{ item.nombre }}</option>
                    </select>
                </div>
                <div class="col-sm-4 mb-3">
                    <label class="font-weight-bold text-muted font-12 mb-1">Municipio</label>
                    <select class="form-control" [(ngModel)]="escolares.idMunicipio">
                        <option [value]="0">Selecciona Municipio</option>
                        <option *ngFor="let item of listas.municipios" [value]="item.id">{{ item.nombre }}</option>
                    </select>
                </div>
                <div class="col-sm-4 mb-3">
                    <label class="font-weight-bold text-muted font-12 mb-1">Promedio</label>
                    <input type="text" class="form-control" [(ngModel)]="escolares.promedio" placeholder="Ej. 9.5">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <button class="btn btn-success" (click)="guardarEscolares()"><i class="fa fa-save mr-1"></i> Guardar Escolares</button>
                </div>
            </div>

        </div>
    </div>
</div>