<div class="card">
    <div class="card-header pb-0 bg-lumiere">
        <div class="d-flex align-items-center">
            <h5 class="mb-1 text-white">Egresos</h5>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row" *ngIf="seleccion === undefined">
                <div class="col-sm-6">
                    <button class="btn btn-success" (click)="modal('nuevo')">Agregar Egreso</button>
                </div>
                <div class="col-sm-6">
                    <app-checktimes [texto]="'Buscar'" [activo]="search" (emitidor)="search = $event;"></app-checktimes>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <app-datatable [configuracion]="configuracion" [datos]="datos" (emitidor)="seleccion = $event;"></app-datatable>
                </div>

            </div>
        </div>
    </div>
</div>
<app-cargando *ngIf="cargando"></app-cargando>
<app-botones *ngIf="seleccion !== undefined">
    <button class="btn btn-success" (click)="modal('nuevo');">Agregar Egreso</button>
    <button class="btn btn-yellow" (click)="modal('modificar');">Modificar Egreso</button>
    <button class="btn btn-info" (click)="imprimir();">Imprimir Egreso</button>
    <button class="btn btn-danger" (click)="eliminar();">Eliminar Egreso</button>
    <button class="btn btn-primary" (click)="modal('voucher')">Cargar Voucher</button>
    <button class="btn btn-info" (click)="verImagen();">Ver Voucher</button>
    <button class="btn btn-info" (click)="modal('fecha');">Modificar Fecha</button>
</app-botones>
<app-busquedas *ngIf="search" (emitidor)="search = false;">
    <div class="row">
        <div class="col-sm-12">
            <app-select [etiqueta]="'Calendario'" [datos]="listas.calendarios" (emitidor)="busqueda.idCalendario = $event;"></app-select>
        </div>
        <div class="col-sm-12">
            <app-select [etiqueta]="'Rubro'" [datos]="listas.rubros" (emitidor)="busqueda.idRubro = $event;"></app-select>
        </div>
        <div class="col-sm-12">
            <app-select [etiqueta]="'Tipo'" [datos]="listas.tipos" (emitidor)="busqueda.idTipo = $event;"></app-select>
        </div>
        <div class="col-sm-12">
            <app-select [etiqueta]="'Sucursal'" [datos]="listas.sucursales" (emitidor)="busqueda.idSucursal = $event;"></app-select>
        </div>
        <div class="col-sm-12">
            <app-select [etiqueta]="'Forma de pago'" [datos]="listas.formas" (emitidor)="busqueda.idFormaPago = $event;"></app-select>
        </div>
        <div class="col-sm-12">
            <app-select [etiqueta]="'Nivel'" [datos]="listas.niveles" (emitidor)="busqueda.idNivel = $event;"></app-select>
        </div>
        <div class="col-sm-12">
            <button class="btn btn-info" (click)="buscar();">Buscar</button>
        </div>
        <div class="col-sm-12">
            <app-input [etiqueta]="'Dias'" (emitidor)="busqueda.dias = $event; gerentes();"></app-input>
        </div>
    </div>
</app-busquedas>
<app-modal [ngSwitch]="vista">
    <app-modal-egreso-directivos *ngSwitchCase="'nuevo'" [listas]="listas" [modificar]="false" (emitidor)="nuevo($event);"></app-modal-egreso-directivos>
    <app-modal-egreso-directivos *ngSwitchCase="'modificar'" [listas]="listas" [modificar]="true" [dato]="seleccion" (emitidor)="modificar($event);"></app-modal-egreso-directivos>
    <app-modal-voucher-egresos-directivos *ngSwitchCase="'voucher'" (emitidor)="voucher($event);"></app-modal-voucher-egresos-directivos>
    <app-modal-ver-voucher *ngSwitchCase="'imagen'" [voucher]="imagen" [titulo]="'Voucher de Egreso'"></app-modal-ver-voucher>
    <app-modal-modificar-fecha-egreso-directivos *ngSwitchCase="'fecha'" (emitidor)="fecha($event);"></app-modal-modificar-fecha-egreso-directivos>
</app-modal>