<div class="card">
    <div class="card-header pb-0 bg-lumiere">
        <div class="d-flex align-items-center justify-content-between">
            <h5 class="mb-1 text-white"><i class="fa fa-layer-group me-2"></i>Plantillas de Ponderación de Exámenes</h5>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row" *ngIf="seleccion === undefined">
                <div class="col-sm-12">
                    <button class="btn btn-success" (click)="modal('nuevo')">
                        <i class="fa fa-plus me-1"></i> Agregar Plantilla
                    </button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <app-datatable [configuracion]="configuracion" [datos]="datos" (emitidor)="seleccion = $event;"></app-datatable>
                </div>
            </div>
        </div>
    </div>
</div>

<app-cargando *ngIf="cargando"></app-cargando>

<app-botones *ngIf="seleccion !== undefined">
    <button class="btn btn-success" (click)="modal('nuevo');"><i class="fa fa-plus me-1"></i> Agregar Plantilla</button>
    <button class="btn btn-yellow" (click)="modal('modificar');"><i class="fa fa-edit me-1"></i> Modificar Plantilla</button>
    <button class="btn btn-danger" (click)="eliminar();"><i class="fa fa-trash me-1"></i> Eliminar Plantilla</button>
</app-botones>

<app-modal [ngSwitch]="vista">
    <app-modal-plantilla-ponderacion *ngSwitchCase="'nuevo'" [seccionesDisponibles]="seccionesDisponibles" (emitidor)="nuevo($event);"></app-modal-plantilla-ponderacion>
    <app-modal-plantilla-ponderacion *ngSwitchCase="'modificar'" [plantilla]="seleccion" [seccionesDisponibles]="seccionesDisponibles" (emitidor)="modificar($event);"></app-modal-plantilla-ponderacion>
</app-modal>
